/* SCSS HEX */
$canary: #ffec19ff;
$black: #000000ff;
$honolulu-blue: #197bbdff;
$antiflash-white: #eef0f2ff;
$emerald: #44cf6cff;
$dogwood-rose: #c62e65ff;

$primary-light: $antiflash-white;
$primary-dark: $black;
$primary-yellow: $canary;
$primary-blue: $honolulu-blue;
$primary-green: $emerald;
$primary-red: $dogwood-rose;
