@import '@fortawesome/fontawesome-svg-core/styles.css';
@import "~/assets/scss/elements.scss";

html,
body {
  font-family: "Lato", sans-serif;
  background-color: $primary-dark;
  background-image: url("~/assets/images/denim.webp");
  background-repeat: repeat;
  color: $primary-light;
  height: 100%;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: $primary-dark;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-blue;
  transition: background-color 200ms ease-out;

  border-radius: 5px;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-corner {
  background-color: $primary-blue;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 200ms ease-in;
  background-color: $primary-blue;
}
