$min-button-height: 30px;
$min-button-width: 30px;
$button-border-radius: 2px;

button.action {
  all: unset;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 5px 10px;

  &.icon {
    padding: 5px;
  }

  border: none;
  min-height: $min-button-height;
  min-width: $min-button-width;
  width: max-content;

  border-radius: $button-border-radius;

  background-color: none;

  font-size: 0.9rem;

  cursor: pointer;

  transition: background-color 200ms ease-out, color 200ms ease-out;

  &.primary {
    background-color: $primary-blue;
    color: $primary-light;

    &:hover {
      background-color: $primary-dark;
    }
  }

  &.secondary {
    background-color: $primary-light;
    color: $primary-dark;

    &:hover {
      background-color: $primary-dark;
      color: $primary-light;
      border: 1px solid $primary-light;
    }
  }

  &.success {
    background-color: rgba($color: $primary-green, $alpha: 0.8);
    color: $primary-light;

    &:hover {
      background-color: $primary-dark;
    }
  }

  &.danger {
    background-color: $primary-red;
    color: $primary-light;

    &:hover {
      background-color: $primary-dark;
    }
  }

  &.warning {
    background-color: rgba($color: $primary-yellow, $alpha: 0.8);
    color: $primary-dark;

    &:hover {
      background-color: $primary-dark;
      color: $primary-light;
      border: 1px solid $primary-yellow;
    }
  }

  &:disabled {
    background-color: rgba($color: $primary-dark, $alpha: 0.4);
    color: $primary-light;
    background-image: none;
    cursor: not-allowed;

    &:hover {
      background-color: rgba($color: $primary-dark, $alpha: 0.2);
    }
  }
}
