@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Plus Jakarta Sans", Helvetica, sans-serif;
  background-color: #0c0e18;
  color: theme(colors.white);
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #0C0E18;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.broom.500 / 50%);
  transition: background-color 200ms ease-out;

  border-radius: 5px;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-corner {
  background-color: theme(colors.broom.500 / 50%);
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 200ms ease-in;
  background-color: theme(colors.broom.500 / 50%);
}

.bg-gradient-sidenav {
  background-color: linear-gradient(
    180deg,
    rgba(251, 54, 103, 0.14) 0%,
    rgba(251, 54, 103, 0.04) 65.29%
  );
}
